$primary-color: #222831;
$primary-color-darker: #1e242c;
$secondary-color: #393e46;
$primary-accent-color: #ffd369;
$secondary-accent-color: #eeeeee;
$active-color: #5ee852;

$primary-font: 'Poppins', 'sans-serif';
$secondary-font: 'Montserrat', sans-serif;

$toolbar-height: 40px;
