$primary-color: #222831;
$secondary-color: #393e46;
$primary-accent-color: #ffd369;
$secondary-accent-color: #eeeeee;

$primary-font: 'Poppins', 'sans-serif';
$secondary-font: 'Montserrat', sans-serif;
